/* You can add global styles to this file, and also import other style files */
@use "./theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

aside {
    width: min-content;
    height: 100vh;
    background-color: theme.$background-gray;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
